* {
	padding:0px;
	margin:0px;
}

html body {
	max-width:100%;
	overflow-x:hidden;
}

a {
	color:black;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

#header {
	width:100%;
	height:75px;
}

#header ul {
	margin:15px 0px 0px 78%;
}

#header ul li {
	display:inline;
	margin:0px 0px 0px 20px;
	font-size:13px;
	font-family:Arial;
}

#header img{
	position:relative;
	top:5px;
}

#login {
	background-color:#1c86ee;
	padding:8px 16px;
	border-radius:2px;
}

#login a {
	color:white;
	font-weight:bold;
}

#main_content {
	height:400px;
	width:100%;
	float:left;
	background-color: #fff;
}

#logo{
	position:relative;
	top:25%;
	left:42%;
}

#logo img {
	height:82px;
	width:235px;
}

#form {
	position:relative;
	top:28%;
	left:30%;
} 

#form form input {
	width:40%;
	height:28px;
	background:url("icon_mic.png") no-repeat scroll;
	background-position:99% 3px;
}

input[type=search] {
	border:1px solid #63b8ff;
}

#buttons {
	position:relative;
	top:130px;
	left:400px;
	width:40%;
}

#butt1 {
	display:inline;
	float:left;
	margin-left:130px;
	background-color:#f0f0f0;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	border-radius:2px;
	border:1px solid #e0e0e0;
	color:dimgray;
}

#butt2 {
	display:inline;
	float:right;
	margin-right:130px;
	background-color:#f0f0f0;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	border-radius:2px;
	border:1px solid #e0e0e0;
	color:dimgray;
}

#butt1:hover {
	background-color:#e0e0e0;
	border:1px solid #d6d6d6;
}

#butt2:hover {
	background-color:#e0e0e0;
	border:1px solid #d6d6d6;
}

#footer {
	clear:both;
	width:100%;
	height:45px;
	background-color:#f7f7f7;
	position:absolute;
	top:93.2%;
	border-top:1px solid #e8e8e8;
}

#ulleft li {
	display:inline;
	float:left;
	padding:15px 10px;
	font-family:Arial;
	font-size:13px;
}

#ulright li {
	display:inline;
	float:right;
	padding:15px 10px;
	font-family:Arial;
	font-size:13px;
}

#footer a {
	text-decoration:none;
	color:grey;
}

#footer a:hover {
	text-decoration:underline;
	color:grey;
}